<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyb1222.dao.AccountDao">
    <select id="get" resultType="com.tyb1222.beans.AccountInfo">
        SELECT id,nmae,account,updateTime FROM account WHERE id=#{id}
    </select>
</mapper>